.top-nav{
display: flex;
justify-content: center;
font-family: sans-serif;

}

.trapezoid{

background-image: url("back.jpg");


}




.mission{
    margin-right:30px;
text-align: center;
border-width: 5px;
border-radius: 15px;
background-color: ;
color: aliceblue;

}

h1{
font-size: 40px;
margin-right: 30px;



}
.vision{

text-align: center;
border-width: 5px;
border-radius: 10px;
background-color:;
color: aliceblue;
font-size: 15px;


}

.header{

    display: flex;
    justify-content: center;
    font-family: sans-serif;
    
}

.background{

width: 100%;
border: solid;
height: 70vh;
background-color:  #252B42;;

}

.test{
margin-top: 40px;
display: flex;
border: solid none;
justify-content: center;
font-size: 40px;color: aliceblue;

}
.instruct{
    display: flex;
align-content: center;
justify-content: center;
align-items: center;
margin-top: 50px;

}
.quiz{

text-align: center;
font-size: 20px;
border: solid none;
justify-content: center;
align-items: center;
text-align: center;
}
.button{
font-size: 20px;
padding: 20 20 20 20;

}
.hover{

background-color: blue;

}

.home-1{
    border: solid;
    padding-top: 50px;
    border-radius: 20px;
    text-align: center;
    background-color: indigo;
    color: aliceblue;
}

.work{
display: flex;
justify-content: center;
padding-top: 50px;


}

.home-2{

margin-right: 10px;
margin-left: 10px;


}

.work-2{
text-align: center;
align-items: center;
margin-top: 100px;


}
.tool{

border: solid;



}

.logic{
display: flex;
border: solid none;
justify-content: center;


}



.ground{


}

.prep{

border: solid ;
border-radius: 20px;
padding-top: 50px;
justify-content: space-between;
padding: 30px 30px 30px 30px;


}
.prep-1{

    margin-right: 10px;
    
}

.tests {
    position: relative;
    display: flex;
justify-content: space-between;
height: 700px;
float: left 70%;
background-color: #252B42;
color: white;
font-size: 25px;
margin-top: 100px;


}
.bar{
display: flex;
justify-content: center;
}

.absolute{
position: absolute;
left: 50%;
height: 50vh;


}

.form{

margin-top: 100px;
color: slateblue;



}







